#oc_errors {
	left: 0;
	padding: 5px;
	position: absolute;
	right: 0;
	z-index: 100;

	div.error {
		background: #f00;
		border-radius: 10px;
		box-shadow: 5px 5px 8px #868686;
		display: flex;
		flex-direction: row;
		margin: 10px 5px;

		div.text {
			color: #fff;
			flex: 1 1 0;
			font-weight: bold;
			overflow: auto;
			padding: 10px;
		}

		div.close {
			flex: 0 0 auto;
			padding: 5px;

			button {
				border-radius: 10px;
				height: 20px;
				padding: 0;
				text-align: center;
				width: 20px;
			}
		}
	}
}